body{
  margin:0;
  padding:0;
}
.item {
   height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color:rgba(0,0,0,.9);
   
}

.carousel-inner{
	margin:0;
	padding:0;
}
hr .hr1{
	border:1px solid red;

}
.imgbd{
	border-radius:10px solid lavender;
}
.carousel-caption{
	top:25%;
	padding:10px;

}
.carousel-caption h1{
   font-size:100px;
   font-weight:bold;
}
.carousel-caption p{
     margin-right: -388p
}
.carouselheader{
	color:orange;
	 font-weight:bold;
}

	}
	.carousel-caption p{
     
}
.carousel-caption h1{
      font-size:80px;
}
}






